body {
    
    background-color: palevioletred;
    
}

.container{
  width: 1140px;
  margin: auto;
  background-color: plum;
  
}
.ita {
  margin: auto; 
  background-color: palevioletred; 
  width: 50%;   
  border: 3px solid blue;   
  padding: 3%;  
}
